{% extends 'base.html' %}

{% block title %}{{ record.description }}{% endblock title %}

{% block content %}

<table>
    <tr>
        <td>Created:</td>
        <td>{{ record.created }}</td>
    </tr>
    <tr>
        <td>Updated:</td>
        <td>{{ record.updated }}</td>
    </tr>
    <tr>
        <td>Uploaded File:</td>
        <td><a href="{{ record.pdf_file.url }}">{{ record.pdf_file.name }}</a></td>
    </tr>
    <tr>
        <td>Converted Image:</td>
        {% if record.image %}
        <td><a href="{{ record.image.url }}">{{ record.image.name }}</a></td>
        {% else %}
        <td>Not converted yet, click to <a href="{% url 'convert' record.id %}">convert</a></td>
        {% endif %}
        
    </tr>
</table>
<hr />
<table>
    <tr>
        <td>Prompt</td>
        <td>Results</td>
    </tr>
    {% for result in translations %}
    <tr>
        <td>{{ result.prompt }}</td>
        <td onclick="window.location.href='{% url 'result_detail' result.id %}'" style="cursor: pointer;">{{ result.raw_results }}</td>
    </tr>
    {% endfor %}
</table>
<hr />
<Form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="prompt" rows="10" cols="50">{{ default_prompt }}</textarea> <br/>
    <input type="submit" value="Submit to ChatGPT" />
</Form>
<hr />
<div>
<a href="{% url 'index' %}">Back to records list.</a> <br/>
</div

{% endblock content %}
